:root{ 
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $navy_blue;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gotham', Helvetica, sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
.bg-red{
    color: $white;
    background-color: $red;
}
.bg-lightgrey{
    background-color: $light_grey;
}
.border-red{
    border-color: $red !important;
}
#main{
    .custom-section{
        min-height: 50vh;
        &:nth-child(even){
            background-color: $light_grey;
        }
    }
}