.button{
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.15em;
    i{
        font-size: inherit;
        position: absolute;
        top: 50%;
        transform: translateY('-50%');
        right: 12px;
        color: inherit;
    }
    &:hover{
        text-decoration: none;
        i{
            font-size: inherit;
            position: absolute;
            right: 8px;
        }
    }
    &--red{
        color: $white;
        background-color: $red;
    }
    &--white{
        color: $red;
        background-color: $white;
    }
}
.button-big{
    @extend .button;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 23px;
}
